.div {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-image: url(../../img/1.jpg);
  }
  
  .h2 {
    color: rgb(237, 242, 82);
  }
  
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input,
  .btn {
    height: 40px;
    font-size: 20px;
  }
  
  .input {
    width: 240px;
    border: 1px solid transparent;
    border-radius: 8px 0 0 8px;
    background-color: #131212;
    color: white;
  }
  
  .input:focus {
    border: 1px solid rgb(103, 51, 163);
    outline: none;
  }
  
  .btn {
    border: 1px solid #131212;
    border-radius: 0 8px 8px 0;
    padding: 0 1.2em;
    background-color: #131212;
    color: rgba(15, 124, 213, 0.773);
    cursor: pointer;
    transition: border-color 0.25s;
    font-size: 20px;
  }
  
  .btn:hover {
    border-color: rgb(103, 51, 163);
  }
  
  .btn:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .error {
    color: red;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }