.p {
    color: rgb(237, 242, 82);
    margin: 0;
}

.ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
}

.li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}